@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.appxcontainer {
    display: flex;
    font-family: Poppins;
}

.appContainer1 {
    display: flex;
    padding: 0.5rem;
    margin: 10px;
    border-bottom: 2px solid #d1c5c5be;
}

.h1Container {
    width: 40%;
    font-size: 35px;
    height: 100px;    
}

h1{
    height: 100px;
    margin: 0px 20px;
    padding: 0px;
    text-align: justify;
    font-family: Poppins;

}

.ButtContainer {
    margin: auto;
    display: inherit;
}

#b1, #b2, #b3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 70px;
    margin: 10px;
    border-radius: 15px;
    color: #4955A1;
    font-size: 24px;
    font-weight: 800;
    font-family: Poppins;
    background-color: #ffffff;
    border-color: #000000;
    border-width: 3px;
}

#b1:active, #b2:active, #b3:active {
    background-color: #4955A1;
}

#ser1 {
    width: 500px;
    height: 50px;
    display: flex;
    margin: 0px 20px;
    padding: 1rem;
    font-size: 20px;
    font-family: Poppins;
    background-image: url(../assets/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-position: left;
    background-repeat:no-repeat;
    text-align: start 10px;
    text-indent: 50px;
}

.search img{
     position: absolute; top: 2px; right: 5px 
}

.appContainer2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;

}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-top: 1px solid #252222;
    border-bottom: 1px solid #252222;
    text-align: left;
    padding: 8px;
    font-size: 20px;
    font-family: Poppins;
}

#cb1 {
    width: 25px;
    height: 25px;
}