
.appxcontainer {
    display: flex;
    font-family: Poppins;
}

.appContainer{
    border-radius: 24px;
    padding: 1rem;
    background-color: #ffffff;
}

.appContainer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 2;
    padding: 0.5rem;
    border-bottom: 2px solid #d1c5c5be;
}

.h1Container {
    display: flex;

    grid-column: 1;
    
}

h3 {
    font-size: 28px;
    font-family: Poppins;
    font-weight: 800;

}

.ButtContainer {
    display: flex;
}

.btn {
    padding: 0.5rem;
    width: 10rem;
    border-radius: 10px;
    color: #4955A1;
    font-size: 20px;
    font-weight: 800;
    font-family: Poppins;
    border: 3px solid #000000;
    background-color: #ffffff;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn:active {
    background-color: #4955A1;
    border: #4955A1;
    color: #ffffff;
}

.btn-wrapper img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.search{
    border-bottom: 2px solid #d1c5c5be;
}


#ser1 {
    display: flex;
    margin: 35px;
    padding: 0.5rem;
    width: 35%;
    font-size: 15px;
    color: #D9D9D9;
    font-family: Poppins;
    font-weight: 400;
    background-image: url(../assets/search_FILL0_wght400_GRAD0_opsz48.svg);
    background-size: 30px 30px ;
    background-position: left;
    background-repeat: no-repeat;
    text-align: start 10px;
    text-indent: 30px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    outline: 1px;
}

.search img {
    position: absolute;
    top: 2px;
    right: 5px
}

.appContainer2 {
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */

}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 19rem;
}

th,
td {
    /* border-top: 1px solid #d1c5c5be; */
    border-bottom: 1px solid #252222;
    text-align: left;
    padding: 8px;
    font-size: 20px;
    font-family: Poppins;
}

.cb1 {
    width: 25px;
    height: 25px;
}