@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300;700&display=swap');

.app-wrapper {
    position: fixed;
    background-color: rgb(0, 0, 0, 0);
    top: 11.5%;
    width: 90%;
    height: 99%;
}

.appContainer {
    border-radius: 24px;
    background-color: #ffffff;
    font-family: Poppins;
    height: 780px;
    width: 100%;
}

/* Heading */
.appContainer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0.5rem;
    border-bottom: 2px solid #d1c5c5be;
}

/* 1st table - Enter Details */
.inp-table {
    margin: 1rem;
}

.inp-table .form1 tr {
    text-align: left;
    border: none;
}

.form1 {
    width: 100%;
}

.Input {
    padding: 0.5rem;
}

.inp {
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    background-color: #c5dff8;
    padding: 0.5rem;
    width: 100%;
}

.input-text {
    /* text-align: left; */
    font-size: 20px;

}

.iarrow::after{
    content: '\25BC';
    position: absolute;
    cursor: pointer;
    transition: 25s all ease;
}
/* 2nd table- Chart */
.table2 {
    width: 100%;

}

.table2 table {
    width: 98%;
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #000;
    font-size: 18px;
}

.table2 tr {
    border: 1px solid #000;
}

.table2 th {
    padding: 0.5rem;
    font-family: Poppins;
    font-weight: 300;
}

/* Total amount */
.total {
    /* width: 27%;
    position: relative;
    bottom: 0%;
    left: 60%;
    text-align: left; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    /* width: 20%; */
    margin-left: 810px;
    border: 1px solid #000;
    font-weight: bold;

}

.text1,
.text2 {
    padding: 1rem 2.5rem 1rem 1rem;
}

/* Button */
.btnContainer {
    /* width: 500px; */
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 6rem;
    margin: 2rem 0 2rem 44rem;
}

.btn-invoice {
    font-display: inherit;
    width: 150px;
    height: 40px;
    margin: 10px;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    font-family: Poppins;
    background-color: #4955A1;
    border-color: #000000;
    border-width: 3px;
    cursor: pointer;
}


.btn-invoice:active {
    background-color: #ffffff;
    color: #4955A1;
}